.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  min-height: 100vh;
}

.c-todo-card {
  padding: 2rem;
  width: 20rem;
  min-height: 20rem;
  border: 2px solid dimgrey;
  border-radius: .25rem;
}

input {
  padding: .25rem .5rem;
}

.btn {
  border-radius: .25rem;
  font-size: 1.25em;

}

fieldset {
  margin-bottom: .5rem;
}